<a href="https://colab.research.google.com/github/praphael1983/DSWP/blob/master/Exerc%C3%ADcios/Olimp%C3%ADadas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
from google.colab import drive
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
drive.mount('/content/gdrive', force_remount = True)

Mounted at /content/gdrive

In [3]:
df_atletas = pd.read_csv('gdrive/My Drive/Dataframes/athlete_events.csv')

In [4]:
df_atletas.head()

   ID                      Name  ...                             Event  Medal
0   1                 A Dijiang  ...       Basketball Men's Basketball    NaN
1   2                  A Lamusi  ...      Judo Men's Extra-Lightweight    NaN
2   3       Gunnar Nielsen Aaby  ...           Football Men's Football    NaN
3   4      Edgar Lindenau Aabye  ...       Tug-Of-War Men's Tug-Of-War   Gold
4   5  Christine Jacoba Aaftink  ...  Speed Skating Women's 500 metres    NaN

[5 rows x 15 columns]

In [5]:
le = LabelEncoder()

In [6]:
df_atletas['City_le'] = le.fit_transform(df_atletas['City'])
df_atletas

            ID                      Name  ... Medal  City_le
0            1                 A Dijiang  ...   NaN        5
1            2                  A Lamusi  ...   NaN       17
2            3       Gunnar Nielsen Aaby  ...   NaN        2
3            4      Edgar Lindenau Aabye  ...  Gold       26
4            5  Christine Jacoba Aaftink  ...   NaN        8
...        ...                       ...  ...   ...      ...
271111  135569                Andrzej ya  ...   NaN       14
271112  135570                  Piotr ya  ...   NaN       34
271113  135570                  Piotr ya  ...   NaN       34
271114  135571        Tomasz Ireneusz ya  ...   NaN       24
271115  135571        Tomasz Ireneusz ya  ...   NaN       29

[271116 rows x 16 columns]

In [7]:
sex_dummies = pd.get_dummies(df_atletas['Sex'], prefix = 'Sex')
df_atletas = pd.concat([df_atletas, sex_dummies], axis = 1).head()

In [8]:
df_atletas

   ID                      Name Sex   Age  ...  Medal  City_le Sex_F Sex_M
0   1                 A Dijiang   M  24.0  ...    NaN        5     0     1
1   2                  A Lamusi   M  23.0  ...    NaN       17     0     1
2   3       Gunnar Nielsen Aaby   M  24.0  ...    NaN        2     0     1
3   4      Edgar Lindenau Aabye   M  34.0  ...   Gold       26     0     1
4   5  Christine Jacoba Aaftink   F  21.0  ...    NaN        8     1     0

[5 rows x 18 columns]